/* header.css for Header.jsx */

/* Reset styles */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navigation styles */
.main-nav {
  z-index: 2;
  background: #1d407f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.new-nav {
  padding: 0;
  margin: 0;
}

.new-nav a {
  text-decoration: none;
  padding: 5px 0;
  z-index: 2;
}

.logo h2 {
  margin: 0;
}

.logo h2 span {
  font-size: 31px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.new-nav ul li .custom-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 70px;
  padding: 2px 20px;
  transition: 0.5s;
  text-transform: uppercase;
}

.new-nav ul li .custom-link:hover {
  text-decoration: none;
  color: #ffc800;
  border-radius: 10px;
}

.new-nav .contact_btn {
  background: linear-gradient(to right, #ff5917, #ff9317);
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 0 15px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  text-transform: uppercase;
}

.new-nav .contact_btn:before {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  background-color: #10429a;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  content: "";
  z-index: -1;
  width: 50px;
  border-radius: 30px;
}

.new-nav .contact_btn:hover:before {
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
}

.logo img {
  width: 100%;
  max-width: 45px;
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0 10px 0 0;
  box-shadow: inset 0 0px 0 15px #fff;
  border-radius: 8px;
  padding: 2px;
}
