.main {
    z-index: 2;
    background: #1d407f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo img {
    width: 100%;
    max-width: 45px;
    padding: 0;
    position: relative;
    z-index: 1;
    margin: 0 10px 0 0;
    box-shadow: inset 0 0px 0 15px #fff;
    border-radius: 8px;
    padding: 2px;
}

.logo h2 {
    margin: 0;
}

.logo h2 span {
    font-size: 31px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}

li {
    list-style: none;
    margin-right: 20px;
    /* Adjust the margin as needed */
}

li {
    text-decoration: none;
    color: white;
    /* Set your default text color here */
    transition: color 0.3s, cursor 0.3s;
    cursor: pointer;
}

.navbar-nav li :hover,
.navbar-nav li :focus {
    color: #fff !important;
    /* Set the text color to white on hover or focus using !important */
    cursor: pointer;
}

.custom-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 70px;
    padding: 2px 20px;
    transition: 0.5s;
    text-transform: uppercase;
}

.contact_btn {
    background: linear-gradient(to right, #ff5917, #ff9317);
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 18px;
    margin: 30px 0 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    animation-delay: 2.5s;
}

.contact_btn:hover {
    color: #fff;
    text-decoration: none;
}

.contact_btn:before {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    background-color: #10429a;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    content: "";
    z-index: -1;
    width: 70px;
    border-radius: 30px;
}

.contact_btn:hover:before {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
}

.navbar-options{
    display: flex;
}

.navbar-options .active {
    color: #ffc800 !important;
  }