/*testi-main*/
.testi-main {
    background: url(../images/test-bg.png) no-repeat center top;
    text-align: center;
    position: relative;
}

.testi-main .small-heading {
    display: inline-block;
    padding: 0 50px 0px 50px;
}

.testi-main .small-heading:after {
    position: absolute;
    width: 37px;
    height: 3px;
    background: #ff4a17;
    top: 10px;
    right: 0;
    content: '';
}

.testi-text {
    background-color: #ffffff;
    padding: 40px 20px;
    -webkit-box-shadow: 0px 1px 21px 0px rgb(233 233 233 / 75%);
    box-shadow: 0px 1px 21px 0px rgb(233 233 233 / 75%);
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin: 10px;
    height: 260px;
}

/* .testi-text:before {
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-size: 50px;
    content: "\f10e";
    font-family: FontAwesome;
    color: #10429ac7;
} */

.testi-text p {
    font-style: italic;
    font-weight: 500;
    color: #808284;
    text-align: center;
    font-size: 15px;
    padding: 0 32px;
}

.testi-text h4 {
    color: #14212b;
    font-size: 16px;
    font-weight: 600;
}

.testi-text img {
    margin: 25px auto 10px;
}

.testi-main .bx-viewport {
    height: auto !important;
}


